* {
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing: border-box;
   
   
}
body {
    background-color: darkcyan;
    
}

.quote-box {
    background-color: azure;
    padding:20px;
    width: 50%;
    height: 50% ;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:10px;
    text-align:center;
    box-shadow:0 10px 20px 0px rgba(0,0,0,0.15);

}

    

.quote-box h2 {
font-size:32px;
font-weight:bold;
font-family: 'Times New Roman', Times, serif;
margin-bottom:30px;
   

}
.main-heading::after {
    content:'';
    width:45px;
    height:4px;
    border-radius: 3px;
    background:rgb(23,124,229) ;
    position:absolute;
    top:55px;
    left:49%;
    transform: translateX(0%,50%);



}
.quote-box blockquote {
  
    margin-bottom:22px;

}
.quote-box blockquote::before , .quote-box blockquote::after {
    content:'"';
}
.quote-box span::before{
    content:'';
    height:2px;
    width:20px;
    border-radius: 3px;
    background-color: rgb(23,124,229);
    position: absolute;
    top:50%;
    left:-30px;
    
   
    
    
}

.quote-box div button {
   margin-top:23px; 
    border-radius:15px;
    border-width:1px;
    border-style:solid;
    width:100px;
    height:32px;
    color:aliceblue;
    background-color: rgba(0, 0, 255, 0.795);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    margin-right: 15px;

}

#btn1 {
    background-color: aliceblue;
    color:black;

    padding:5px;

}

#btn1 img {

    width:20px;
    margin-right: 2px;

}
.quote-box span {
    display:block;
    margin-top:10px;
    float:right;
    position:relative;
}

.button-container {
    width:100%;
    margin-top:30px;
    display:flex;
    flex-direction:row;
    justify-content: center;
}
